XSD/Query_XSD/InterestSpecificationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://semnotam.frequentis.com/schema/1.0"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:aixm="http://www.aixm.aero/schema/5.1"
  xmlns:tns="http://semnotam.frequentis.com/schema/1.0" 
  xmlns:xlink="http://www.w3.org/1999/xlink"
  elementFormDefault="qualified">

  <import namespace="http://www.aixm.aero/schema/5.1"
    schemaLocation="../AIXM_Features.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2"
    schemaLocation="../ISO_19136_Schemas/gml.xsd" />
  <import namespace="http://www.w3.org/1999/xlink"
    schemaLocation="../xlink/xlinks.xsd"/>

  <element name="InterestSpecification" type="tns:InterestSpecificationType">
  </element>

  <complexType name="InterestSpecificationType">
    <sequence>
      <element name="detectionTimestamp" type="dateTime" minOccurs="0" />
      <element name="metaInformation" type="tns:NotamSetMetaInformationPropertyType" minOccurs="0" />
      <element name="interest" type="tns:InterestPropertyType" minOccurs="0" />
      <element name="interestSpecificData" type="tns:InterestSpecificDataPropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    <attribute ref="gml:id" use="required" />
  </complexType>

  <!--+++++++++++++++++++++Meta Information+++++++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="NotamSetMetaInformationPropertyType">
    <sequence>
      <element name="NotamSetMetaInformation" type="tns:MetaInfoType" />
    </sequence>
  </complexType>

  <complexType name="MetaInfoType">
    <sequence>
      <element name="context" type="anyURI" minOccurs="0" />
      <element name="enrichment" type="tns:EnrichmentInformationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <element name="annotation" type="tns:AnnotationInformationPropertyType" minOccurs="0" />
      <element name="filter" type="tns:FilterInformationPropertyType" minOccurs="0" />
      <element name="arrangement" type="tns:GroupingArrangementPropertyType" minOccurs="0" />
      <element name="ranking" type="tns:RankingStrategyPropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <element name="ruleOption" type="tns:RelevanceOptionPropertyType" />     
	  <element name="dataType" type="token" minOccurs="0" />  
	  <element name="dataFormat" type="token" minOccurs="0" />  
    </sequence>
  </complexType>

  <!--+++++++++++++++++++++++Context+++++++++++++++++++++++ -->
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!-- <complexType name="ContextPropertyType">
    <sequence>
      <element name="Context" type="tns:ContextType" />
    </sequence>
  </complexType>

  <complexType name="ContextType">
    <attribute name="id" type="token" use="required" />
  </complexType> -->

  <!--+++++++++++++++++++++Enrichments++++++++++++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="EnrichmentInformationPropertyType" >
    <sequence>
      <element name="EnrichmentInformation" type="tns:EnrichmentInformationType" />
    </sequence>
  </complexType>

  <complexType name="EnrichmentInformationType">
    <sequence>
      <element name="hasEnrichment" type="tns:EnrichmentPropertyType" />
    </sequence>
  </complexType>

  <complexType name="EnrichmentPropertyType">
    <sequence>
      <element name="Enrichment" type="tns:EnrichmentType" />
    </sequence>
  </complexType>

  <complexType name="EnrichmentType">
    <sequence>
      <element name="name" type="token" minOccurs="0" />
      <element name="xPathExpression" type="token" />
      <element name="description" type="token" minOccurs="0" />
    </sequence>
  </complexType>


  <!--+++++++++++++++++++++Annotation Groupings+++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="AnnotationInformationPropertyType" >
    <sequence>
      <element name="AnnotationInformation" type="tns:AnnotationInformationType" />
    </sequence>
  </complexType>

  <complexType name="AnnotationInformationType">
    <sequence>
      <element name="hasAnnotation" type="tns:AnnotationPropertyType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="AnnotationPropertyType">
    <sequence>
      <element name="Annotation" type="tns:AnnotationType" />
    </sequence>
  </complexType>

  <complexType name="AnnotationType">
    <sequence>
      <element name="hasGrouping" type="tns:AnnotationGroupingPropertyType" />
      <element name="hasGroup" type="tns:AnnotationGroupPropertyType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="AnnotationGroupingPropertyType">
    <sequence>
      <element name="AnnotationGrouping" type="tns:GroupingType" />
    </sequence>
  </complexType>

  <complexType name="AnnotationGroupPropertyType">
    <sequence>
      <element name="AnnotationGroup" type="tns:GroupType" />
    </sequence>
  </complexType>

  <!-- Grouping Type -->
  <complexType name="GroupingType">
    <sequence>
      <element name="groupingName" type="token" />
    </sequence>
  </complexType>

  <!-- Group Type -->
  <complexType name="GroupType">
    <sequence>
      <element name="groupName" type="token" />
      <element name="groupOrder" type="integer" minOccurs="0" />
    </sequence>
  </complexType>

  <!--+++++++++++++++++++++Filter Groupings+++++++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="FilterInformationPropertyType" >
    <sequence>
      <element name="FilterInformation" type="tns:FilterInformationType" />
    </sequence>
  </complexType>

  <complexType name="FilterInformationType">
    <sequence>
      <element name="hasFilter" type="tns:FilterPropertyType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="FilterPropertyType">
    <sequence>
      <element name="Filter" type="tns:FilterType" />
    </sequence>
  </complexType>

  <complexType name="FilterType">
    <sequence>
      <element name="hasGrouping" type="tns:FilterGroupingPropertyType" />
      <element name="hasGroup" type="tns:FilterGroupPropertyType" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="FilterGroupingPropertyType">
    <sequence>
      <element name="FilterGrouping" type="tns:GroupingType" />
    </sequence>
  </complexType>

  <complexType name="FilterGroupPropertyType">
    <sequence>
      <element name="FilterGroup" type="tns:GroupType" />
    </sequence>
  </complexType>

  <!--+++++++++++++++++++++Grouping Arrangement+++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="GroupingArrangementPropertyType">
    <sequence>
      <element name="GroupingArrangement" type="tns:GroupingArrangementType" />
    </sequence>
  </complexType>

  <complexType name="GroupingArrangementType">
    <sequence>
      <element name="arrangementOrder" type="tns:GroupingArrangementListPropertyType" />
    </sequence>
  </complexType>

  <complexType name="GroupingArrangementListPropertyType">
    <sequence>
      <element name="GroupingArrangementList" type="tns:GroupingArrangementListType" />
    </sequence>
  </complexType>

  <complexType name="GroupingArrangementListType">
    <sequence>
      <element name="head" type="tns:ArrangementGroupingPropertyType" />
      <element name="tail" type="tns:GroupingArrangementListPropertyType" minOccurs="0" />
    </sequence>
  </complexType>
 
  <complexType name="ArrangementGroupingPropertyType">
    <sequence>
      <element name="ArrangementGrouping" type="tns:GroupingType" />
    </sequence>
  </complexType>

  <!--+++++++++++++++++++++Ranking++++++++++++++++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="RankingStrategyPropertyType">
    <choice>
      <element name="TemporalRanking" type="tns:TemporalRankingStrategyType" />
      <element name="SpatialRanking" type="tns:SpatialRankingStrategyType" />
    </choice>
  </complexType>

  <complexType name="TemporalRankingStrategyType">
    <sequence>
      <element name="rankingStrategy" type="tns:CodeTemporalRankingStrategyBaseType" />
      <element name="rankingDirection" type="tns:CodeRankingDirectionBaseType" minOccurs="0" />
    </sequence>
  </complexType>
  
  <simpleType name="CodeTemporalRankingStrategyBaseType">
    <restriction base="string">
      <enumeration value="PUBLICATION_TIME"/>
      <enumeration value="VALID_TIME_BEGIN"/>
      <enumeration value="VALID_TIME_END"/>
      <enumeration value="ACTIVE_TIME_BEGIN"/>
      <enumeration value="ACTIVE_TIME_END"/>
    </restriction>
  </simpleType>
  
  <complexType name="SpatialRankingStrategyType">
    <sequence>
      <element name="rankingStrategy" type="tns:CodeSpatialRankingStrategyBaseType" />
      <element name="rankingDirection" type="tns:CodeRankingDirectionBaseType" minOccurs="0" />
    </sequence>
  </complexType>

  <simpleType name="CodeSpatialRankingStrategyBaseType">
    <restriction base="string">
      <enumeration value="EUCLIDEAN_DISTANCE"/>
      <enumeration value="DISTANCE_FROM_BEAM"/>
      <enumeration value="PERPENDICULAR_DISTANCE"/>
    </restriction>
  </simpleType>

  <simpleType name="CodeRankingDirectionBaseType">
    <restriction base="string">
      <enumeration value="DESC"/>
      <enumeration value="ASC"/>
    </restriction>
  </simpleType>

  <!--+++++++++++++++++++++++RelevanceOption+++++++++++++++ -->
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="RelevanceOptionPropertyType">
    <sequence>
      <element name="RelevanceRuleOption" type="tns:RelevanceOptionType" />
    </sequence>
  </complexType>
  
  <complexType name="RelevanceOptionType">
    <sequence>
      <element name="spatialRelevanceRules" type="tns:CodeSpatialRelevanceType" />
  	  <element name="temporalRelevanceRules" type="tns:CodeTemporalRelevanceType" />
    </sequence>
  </complexType>
  
  <simpleType name="CodeSpatialRelevanceType">
    <restriction base="token">
      <enumeration value="NONE" />
      <enumeration value="BOUNDING_BOX" />
      <enumeration value="SHAPE" />
    </restriction>
  </simpleType>
  
  <simpleType name="CodeTemporalRelevanceType">
    <restriction base="token">
      <enumeration value="NONE" />
      <enumeration value="VALID_TIME" />
      <enumeration value="ACTIVE_TIME" />
    </restriction>
  </simpleType>  
  
  <!--+++++++++++++++++++++InterestSpecificData+++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="InterestSpecificDataPropertyType">
    <choice>
      <element name="PointData" type="tns:InterestSpecificDataType" />
    </choice>
  </complexType>
  
  <complexType name="InterestSpecificDataType">
    <sequence>
      <element name="hasMember" type="aixm:ElevatedPointPropertyType" maxOccurs="unbounded" minOccurs="0" />  
    </sequence>
  </complexType>
  
  <!--+++++++++++++++++++++Interest+++++++++++++++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="InterestPropertyType">
    <choice>
      <!-- <element name="ComplexInterest" type="tns:ComplexInterestType"/> -->
      <!-- <element name="BinaryInterest" type="tns:BinaryInterestType"/> -->
      <element name="BinaryIntersectionInterest" type="tns:BinaryIntersectionInterestType" />
      <element name="BinaryUnionInterest" type="tns:BinaryUnionInterestType" />
      <element name="ComplementInterest" type="tns:ComplementInterestType" />
      <!-- <element name="GroupInterest" type="tns:GroupInterestType"/> -->
      <element name="IntersectionInterest" type="tns:IntersectionInterestType" />
      <element name="UnionInterest" type="tns:UnionInterestType" />
      <element name="FlightPlanInterest" type="tns:FlightPlanInterestType" />
      <element name="FlightPathInterest" type="tns:FlightPathInterestType" />
      <!-- <element name="simpleInterest" type="tns:SimpleInterestType"/> -->
	  <element name="UndefinedInterest" type="tns:UndefinedInterestType" />
      <element name="AttributeOfInterest" type="tns:AttributeOfInterestType" />
      <element name="PeriodOfInterest" type="tns:PeriodOfInterestType" />
      <element name="AircraftOfInterest" type="tns:AircraftOfInterestType" />
      <!-- <element name="AreaOfInterest" type="tns:AreaOfInterestType" /> -->
      <element name="ScopedArea" type="tns:ScopedAreaInterestType" />
      <element name="ConceptDefinedArea" type="tns:ConceptDefinedAreaType" />
      <!-- <element name="AerodromeArea" type"tns:AerodromeAreaType" /> -->
      <element name="DepartureAerodromeArea" type="tns:DepartureAerodromeAreaType" />
      <element name="DestinationAerodromeArea" type="tns:DestinationAerodromeAreaType" />
      <!-- <element name="AlternateAerodrome" type="tns:AlternateAerodromeInterestType" /> -->
      <element name="DepartureAlternateAerodromeArea" type="tns:DepartureAlternateAerodromeAreaType" />
      <element name="DestinationAlternateAerodromeArea" type="tns:DestinationAlternateAerodromeAreaType" />
      <element name="EnRouteAlternateAerodromeArea" type="tns:EnRouteAlternateAerodromeAreaType" />
      <!-- <element name="SegmentArea" type="tns:SegmentAreaType" /> -->

      <!-- <element name="TransitionArea" type="tns:TransitionAreaType" /> -->
      <element name="DepartureArea" type="tns:DepartureAreaType" />
      <!-- <element name="ApproachArea" type="tns:ApproachAreaType" /> -->
      <element name="DestinationApproachArea" type="tns:DestinationApproachAreaType" />
      <!-- <element name="AlternateApproachArea" type="tns:AlternateApproachAreaType" /> -->
      <element name="DestinationAlternateApproachArea" type="tns:DestinationAlternateApproachAreaType" />
      <element name="EnRouteAlternateApproachArea" type="tns:EnRouteAlternateApproachAreaType" />
      <element name="DepartureAlternateApproachArea" type="tns:DepartureAlternateApproachAreaType" />

      <element name="AtsArea" type="tns:AtsAreaType" />

      <element name="ShapeArea" type="tns:ShapeAreaType" />
      <element name="FirArea" type="tns:FirAreaType" />
      <!-- <element name="SidArea" type="tns:SidInterestType" /> -->
      <!-- <element name="StarArea" type="tns:StarInterestType" /> -->

      <!--<element name="Area" type="tns:AreaType" />-->
      <!--<element name="ScopedArea" type="tns:ScopedAreaInterestType" />-->

      <!-- If delta queries should be supported in terms of interest specification
      Probably delta query can be calculated from environment
      <element name="DeltaInterest" type="tns:TDeltaInterest" /> -->
    </choice>
  </complexType>

   <complexType name="SimpleInterestPropertyType">
    <choice>
      <!-- <element name="simpleInterest" type="tns:SimpleInterestType"/> -->
      <element name="AttributeOfInterest" type="tns:AttributeOfInterestType" />
      <element name="PeriodOfInterest" type="tns:PeriodOfInterestType" />
      <element name="AircraftOfInterest" type="tns:AircraftOfInterestType" />
      <!-- <element name="AreaOfInterest" type="tns:AreaOfInterestType" /> -->
      <element name="ScopedArea" type="tns:ScopedAreaInterestType" />
      <element name="ConceptDefinedArea" type="tns:ConceptDefinedAreaType" />
      <!-- <element name="AerodromeArea" type"tns:AerodromeAreaType" /> -->
      <element name="DepartureAerodromeArea" type="tns:DepartureAerodromeAreaType" />
      <element name="DestinationAerodromeArea" type="tns:DestinationAerodromeAreaType" />
      <!-- <element name="AlternateAerodrome" type="tns:AlternateAerodromeInterestType" /> -->
      <element name="DepartureAlternateAerodromeArea" type="tns:DepartureAlternateAerodromeAreaType" />
      <element name="DestinationAlternateAerodromeArea" type="tns:DestinationAlternateAerodromeAreaType" />
      <element name="EnRouteAlternateAerodromeArea" type="tns:EnRouteAlternateAerodromeAreaType" />
      <!-- <element name="SegmentArea" type="tns:SegmentAreaType" /> -->
      <!-- <element name="TransitionArea" type="tns:TransitionAreaType" /> -->
      <element name="DepartureArea" type="tns:DepartureAreaType" />
      <!-- <element name="ApproachArea" type="tns:ApproachAreaType" /> -->
      <element name="DestinationApproachArea" type="tns:DestinationApproachAreaType" />
      <!-- <element name="AlternateApproachArea" type="tns:AlternateApproachAreaType" /> -->
      <element name="DestinationAlternateApproachArea" type="tns:DestinationAlternateApproachAreaType" />
      <element name="EnRouteAlternateApproachArea" type="tns:EnRouteAlternateApproachAreaType" />
      <element name="DepartureAlternateApproachArea" type="tns:DepartureAlternateApproachAreaType" />
      <element name="AtsArea" type="tns:AtsAreaType" />
      <element name="ShapeArea" type="tns:ShapeAreaType" />
      <element name="FirArea" type="tns:FirAreaType" />
    </choice>
  </complexType>


  <!--+++++++++++++++++++++Complex Interests+++++++++++++++++ -->
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="ComplexInterestType">
  </complexType>

  <complexType name="BinaryInterestType">
    <complexContent>
      <extension base="tns:ComplexInterestType">
        <sequence>
          <element name="leftHand" type="tns:InterestPropertyType" />
          <element name="rightHand" type="tns:InterestPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="BinaryIntersectionInterestType">
    <complexContent>
      <extension base="tns:BinaryInterestType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="BinaryUnionInterestType">
    <complexContent>
      <extension base="tns:BinaryInterestType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ComplementInterestType">
    <complexContent>
      <extension base="tns:ComplexInterestType">
        <sequence>
          <element name="leftHand" type="tns:SimpleInterestPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="GroupInterestType">
    <complexContent>
      <extension base="tns:ComplexInterestType">
        <sequence>
          <element name="hasMember" type="tns:InterestPropertyType" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="IntersectionInterestType">
    <complexContent>
      <extension base="tns:GroupInterestType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="UnionInterestType">
    <complexContent>
      <extension base="tns:GroupInterestType">
      </extension>
    </complexContent>
  </complexType>

  <!-- Will be interpreted as an UnionInterest -->
  <complexType name="FlightPlanInterestType">
    <complexContent>
      <extension base="tns:ComplexInterestType">
        <sequence>
          <element name="period" type="tns:PeriodOfInterestPropertyType" minOccurs="0" />
          <element name="aircraft" type="tns:AircraftOfInterestPropertyType" minOccurs="0" />
          <element name="area" type="tns:FlightPathInterestPropertyType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  
  <complexType name="FlightPathInterestType">
    <complexContent>
      <extension base="tns:ComplexInterestType">
        <sequence>
          <element name="hasMember" type="tns:AreaOfInterestPropertyType" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="FlightPathInterestPropertyType">
    <choice>
      <element name="FlightPathInterest" type="tns:FlightPathInterestType" />
    </choice>
  </complexType>

  <!--+++++++++++++++++++++Simple Interests+++++++++++++++++ -->
  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <complexType name="SimpleInterestType">
  </complexType>

  <!--+++++++++++++++++++++Period Interest+++++++++++++++++ -->
  <complexType name="UndefinedInterestType">
	  <complexContent>
		  <extension base="tns:SimpleInterestType">
			</extension>
		</complexContent>
  </complexType>  
  
  <complexType name="PeriodOfInterestPropertyType">
    <choice>
      <element name="PeriodOfInterest" type="tns:PeriodOfInterestType" />
    </choice>
  </complexType>

  <complexType name="PeriodOfInterestType">
    <complexContent>
      <extension base="tns:SimpleInterestType">
        <sequence>
          <choice>
            <element name="detTime" type="tns:TimeIntervalPropertyType" />
            <element name="occTime" type="tns:TimeIntervalPropertyType" />
          </choice>
          <!-- possibility for temporal buffer -->
          <element name="timeBuffer" type="tns:TimeBufferPropertyType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!--+++++++++++++++++++++Attribute Interest+++++++++++++++++ -->
  <complexType name="AttributeOfInterestType">
    <complexContent>
      <extension base="tns:SimpleInterestType">
        <choice>
          <element name="conceptName" type="token" minOccurs="0" />
          <element name="restriction" type="tns:RestrictionPropertyType" minOccurs="0" />
        </choice>
      </extension>
    </complexContent>
  </complexType>


  <!--+++++++++++++++++++++Aircraft Interest+++++++++++++++++ -->
  <complexType name="AircraftOfInterestPropertyType">
    <choice>
      <element name="AircraftOfInterest" type="tns:AircraftOfInterestType" />
    </choice>
  </complexType>

  <complexType name="AircraftOfInterestType">
    <complexContent>
      <extension base="tns:SimpleInterestType">
        <!-- at least one must be given -->
        <choice>
		      <sequence>
            <!-- The name of an aircraft type in the SemNOTAM knowledge base -->
            <element name="aircraftTypeName" type="token" />
            <!-- <element name="aircraftLandingCategory" type="aixm:CodeAircraftCategoryType" minOccurs="0" /> -->
            <element name="ilsCat" type="aixm:CodeSignalPerformanceILSType" minOccurs="0"/> <!-- I, II or III -->
            <!-- <element name="passengers" type="aixm:NoNumberBaseType" minOccurs="0" />
            <element name="capabilities" type="tns:CapabilityPropertyType" minOccurs="0" />
            <element name="flightCharacteristics" type="aixm:FlightCharacteristicPropertyType" minOccurs="0" /> -->
          </sequence>
        </choice>
      </extension>
    </complexContent>
  </complexType>

  <!--+++++++++++++++++++++Area Interest+++++++++++++++++ -->
  <complexType name="AreaOfInterestType">
    <complexContent>
      <extension base="tns:SimpleInterestType">
        <sequence>
          <element name="sequence" type="integer" /> <!-- flight path sequence number -->
          <element name="time" type="tns:TimeIntervalPropertyType" minOccurs="0" />
          <element name="timeBuffer" type="tns:TimeBufferPropertyType" minOccurs="0" />
          <element name="meteoCondition" type="aixm:CodeMeteoConditionsType" minOccurs="0" />
          <element name="flightRule" type="aixm:CodeFlightRuleType" minOccurs="0" />
          <element name="timeOfDay" type="tns:CodeTimeOfDayBaseType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!-- Unscoped Area Superclass -->
  <complexType name="UnscopedAreaType">
    <complexContent>
      <extension base="tns:AreaOfInterestType">
      </extension>
    </complexContent>
  </complexType>


  <!-- ShapeArea -->
  <complexType name="ShapeAreaType">
    <complexContent>
      <extension base="tns:UnscopedAreaType">
        <sequence>
          <!-- elevated surface? -->
          <element name="shape" type="aixm:ElevatedSurfacePropertyType" />
          <element name="height" type="aixm:ValDistanceType" minOccurs="0" />
          <element name="areaBuffer" type="tns:SpatialBufferPropertyType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!-- FirArea -->
  <complexType name="FirAreaType">
    <complexContent>
      <extension base="tns:UnscopedAreaType">
        <sequence>
          <!-- elevated surface? -->
          <element name="designator" type="token" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!-- SegmentArea -->
  <complexType name="SegmentAreaType">
    <complexContent>
      <extension base="tns:UnscopedAreaType">
        <sequence>
          <!-- Is shape needed in query segment? Designator = Reference to existing segment -->
          <element name="identifier" type="token" />
          <element name="defaultDirection" type="boolean" /> <!-- true = from start point to end point, false = from end point to start point -->
          <element name="flightAltitude" type="aixm:ValDistanceType" minOccurs="0" />
          <element name="areaBuffer" type="tns:SpatialBufferPropertyType" minOccurs="0" />
          <element name="segmentShape" type="tns:SegmentShapePropertyType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <complexType name="SegmentShapePropertyType">
    <choice>
      <element name="SegmentShapeArea" type="tns:SegmentShapeAreaType" />
    </choice>
  </complexType>

  <complexType name="SegmentShapeAreaType">
    <sequence>
      <choice>
        <element name="shape_surface" type="aixm:ElevatedSurfacePropertyType" />
        <element name="shape_curve" type="aixm:ElevatedCurvePropertyType" />
      </choice>

      <element name="startPoint" type="tns:ElevatedPointReferencePropertyType" />
      <element name="endPoint" type="tns:ElevatedPointReferencePropertyType" />
      
      <element name="firDesignator" type="token" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="ElevatedPointReferencePropertyType">
    <attribute ref="xlink:href" />
  </complexType>
  
  <complexType name="AtsAreaType">
    <complexContent>
      <extension base="tns:SegmentAreaType" />
    </complexContent>
  </complexType>

  <complexType name="TransitionAreaType">
    <complexContent>
      <extension base="tns:SegmentAreaType">
        <sequence>
          <element name="aerodromeDesignator" type="token" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="DepartureAreaType">
    <complexContent>
      <extension base="tns:TransitionAreaType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ApproachAreaType">
    <complexContent>
      <extension base="tns:TransitionAreaType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="DestinationApproachAreaType">
    <complexContent>
      <extension base="tns:ApproachAreaType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="AlternateApproachAreaType">
    <complexContent>
      <extension base="tns:ApproachAreaType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="DestinationAlternateApproachAreaType">
    <complexContent>
      <extension base="tns:AlternateApproachAreaType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="EnRouteAlternateApproachAreaType">
    <complexContent>
      <extension base="tns:AlternateApproachAreaType">
      </extension>
    </complexContent>
  </complexType>

  <complexType name="DepartureAlternateApproachAreaType">
    <complexContent>
      <extension base="tns:AlternateApproachAreaType">
      </extension>
    </complexContent>
  </complexType>

  <!-- ScopedArea, Areas -->
  <complexType name="ScopedAreaInterestType">
    <complexContent>
      <extension base="tns:AreaOfInterestType">
        <sequence>
          <element name="scope" type="tns:AreaOfInterestPropertyType" />
          <element name="hasExclusion" type="tns:ExclusionPropertyType" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="AreaOfInterestPropertyType">
    <choice>
      <element name="ConceptDefinedArea" type="tns:ConceptDefinedAreaType" />
      <element name="DepartureAerodromeArea" type="tns:DepartureAerodromeAreaType" />
      <element name="DestinationAerodromeArea" type="tns:DestinationAerodromeAreaType" />
      <element name="DepartureAlternateAerodromeArea" type="tns:DepartureAlternateAerodromeAreaType" />
      <element name="DestinationAlternateAerodromeArea" type="tns:DestinationAlternateAerodromeAreaType" />
      <element name="EnRouteAlternateAerodromeArea" type="tns:EnRouteAlternateAerodromeAreaType" />

      <element name="DepartureArea" type="tns:DepartureAreaType" />
      <element name="DestinationApproachArea" type="tns:DestinationApproachAreaType" />
      <element name="DestinationAlternateApproachArea" type="tns:DestinationAlternateApproachAreaType" />
      <element name="EnRouteAlternateApproachArea" type="tns:EnRouteAlternateApproachAreaType" />
      <element name="DepartureAlternateApproachArea" type="tns:DepartureAlternateApproachAreaType" />
      <element name="AtsArea" type="tns:AtsAreaType" />
      <element name="ShapeArea" type="tns:ShapeAreaType" />
      <element name="FirArea" type="tns:FirAreaType" />
    </choice>
  </complexType>

  <complexType name="AerodromeAreaType">
    <complexContent>
      <extension base="tns:UnscopedAreaType">
        <sequence>
          <element name="designator" type="token" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="DepartureAerodromeAreaType">
    <complexContent>
      <extension base="tns:AerodromeAreaType" />
    </complexContent>
  </complexType>

  <complexType name="DestinationAerodromeAreaType">
    <complexContent>
      <extension base="tns:AerodromeAreaType" />
    </complexContent>
  </complexType>

  <complexType name="AlternateAerodromeAreaType">
    <complexContent>
      <extension base="tns:AerodromeAreaType" />
    </complexContent>
  </complexType>

  <complexType name="DepartureAlternateAerodromeAreaType">
    <complexContent>
      <extension base="tns:AlternateAerodromeAreaType" />
    </complexContent>
  </complexType>

  <complexType name="DestinationAlternateAerodromeAreaType">
    <complexContent>
      <extension base="tns:AlternateAerodromeAreaType" />
    </complexContent>
  </complexType>

  <complexType name="EnRouteAlternateAerodromeAreaType">
    <complexContent>
      <extension base="tns:AlternateAerodromeAreaType" />
    </complexContent>
  </complexType>

  <complexType name="ConceptDefinedAreaType">
    <complexContent>
      <extension base="tns:UnscopedAreaType">
        <sequence>
          <element name="conceptName" type="token" />
          <element name="restriction" type="tns:RestrictionPropertyType" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ExclusionPropertyType">
    <sequence>
      <element name="Exclusion">
        <complexType>
          <sequence>
            <element name="exclude" type="tns:AreaOfInterestPropertyType" />
            <element name="except" type="tns:AreaOfInterestPropertyType" minOccurs="0" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <!-- Restrictions -->
  <complexType name="RestrictionPropertyType">
    <choice>
	  <element name="NestedRestriction" type="tns:NestedRestrictionType" />
	  <element name="LeafRestriction" type="tns:LeafRestrictionType" />
    </choice>
  </complexType>
  
  <complexType name="NestedRestrictionType">
    <sequence>
      <element name="attributeIri" type="anyURI" />
      <element name="restriction" type="tns:RestrictionPropertyType" />
    </sequence>
  </complexType>
  
  <complexType name="LeafRestrictionType">
	<sequence>
	  <choice minOccurs="0">
		<sequence>
		  <element name="value_string" type="string" /> 
		  <element name="operator" type="tns:CodeOperatorType" minOccurs="0" />
		</sequence>
		<sequence>
		  <element name="value_decimal" type="decimal" />
		  <element name="operator" type="tns:CodeOperatorType" minOccurs="0" />
		</sequence>
		<sequence>
		  <element name="value_dateTime" type="dateTime" />
		  <element name="operator" type="tns:CodeOperatorType" minOccurs="0" />
		</sequence>
	  </choice>
	</sequence>
  </complexType>

  <complexType name="QualifiedRestrictionType">
	<complexContent>
      <extension base="tns:LeafRestrictionType">
		<sequence>
		  <element name="attributeIri" type="anyURI" />
		</sequence>
      </extension>
    </complexContent>
  </complexType>

  <!-- For external usage. Attribute name equal to some name of a SemNOTAM attribute (without namespace) -->
  <complexType name="UnqualifiedRestrictionType">
	<complexContent>
      <extension base="tns:LeafRestrictionType">
		<sequence>
		  <element name="attributeName" type="token" />
		</sequence>
      </extension>
    </complexContent>
  </complexType>

  <!--+++++++++++++++++++++++++Misc.+++++++++++++++++++++++ -->
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <!-- Spatial Buffer -->
  <complexType name="SpatialBufferPropertyType">
    <sequence>
      <element name="SpatialBuffer" type="tns:SpatialBufferType" />
    </sequence>
  </complexType>

  <complexType name="SpatialBufferType">
    <sequence>
      <element name="horizontal" type="aixm:ValDistanceType" />
      <element name="vertical" type="aixm:ValDistanceType" minOccurs="0" />
    </sequence>
  </complexType>

  <!-- TIME OF DAY -->
  <!--
  <complexType name="CodeTimeOfDayType">
    <simpleContent>
      <extension base="tns:CodeTimeOfDayBaseType">
        <attribute name="nilReason" type="gml:NilReasonEnumeration"/>
      </extension>
    </simpleContent>
  </complexType>
  -->
  <simpleType name="CodeTimeOfDayBaseType">
    <restriction base="string">
      <enumeration value="DAY"/>
      <enumeration value="NIGHT"/>
    </restriction>
  </simpleType>

  <!-- Time Buffer -->
  <complexType name="TimeBufferPropertyType">
    <sequence>
      <element name="TemporalBuffer">
        <complexType>
          <sequence>
            <element name="before" type="duration" minOccurs="0" />
            <element name="after" type="duration" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <complexType name="TimeIntervalPropertyType">
    <sequence>
      <element name="TimeInterval">
        <complexType>
          <sequence>
            <element name="beginPosition" type="dateTime" />
            <element name="endPosition" type="dateTime" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <simpleType name="CodeOperatorType">
    <restriction base="token">
      <enumeration value="=" />
      <enumeration value="!=" />
      <enumeration value="&lt;" />
      <enumeration value="&gt;" />
      <enumeration value="&lt;=" />
      <enumeration value="&gt;=" />
    </restriction>
  </simpleType>

</schema>
